<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>Список заметок</title>
  </head>

  <body>
    <header class="header">
      <div class="header-backlink">
        <a th:href="@{/}" class="header-title">Заметки</a>
      </div>
      <div class="header-actions-block">
        <div class="user-block">
          <button class="button primary-btn" onclick="location.replace('/login')">Войти</button>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row promo-row">
        <form action="#" th:action="@{/registration}" th:object="${form}" method="post" class="promo-form">
          <h2>Регистрация</h2>
          <div class="promo-form-body">
            <div class="promo-form-error" th:if="${eName}">Пользователь с таким именем уже существует</div>
            <div class="form-item">
              <div class="form-label">Имя пользователя:</div>
              <div class="form-input"><input type="text" required="required" th:field="${form.username}"/></div>
            </div>
            <div class="form-item">
              <div class="form-label">Почта:</div>
              <div class="form-input"><input required="required" type="email" th:field="${form.email}"/></div>
            </div>
            <div class="form-item">
              <div class="form-label">Пароль:</div>
              <div class="form-input"><input required="required" type="password" th:field="${form.password}"/></div>
            </div>
            <div class="form-item">
              <div class="form-label">Подтвердите пароль:</div>
              <div class="form-input"><input required="required" type="password" th:field="${form.passwordConf}"/></div>
            </div>
            <div th:if="${eConf}" class="promo-form-error">Пароли не совпадают</div>
          </div>
          <div class="form-item">
            <input class="button" type="submit" value="Создать аккаунт"/>
          </div>
          <button class="button primary-btn" onclick="location.replace('/login')">Войти</button>
        </form>
      </div>
    </div>
  </body>
</html>